.evidence{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:25px;
    width: 100%;
}
.evidence_plaintiff{
    background-color: #5ed7e5;
}
.evidence_splitLine{
    border-bottom: 1px solid lightgrey;
}

.evidence_a{
    text-decoration: none;
    color:black;
    word-wrap:break-word;
}
.head_chain{
    display: inline-block;
    border: 1px solid black;
    margin-left: 2%;
    padding: 3px;
    margin-top: 5px;
}

.head_div{
    margin-top: 10px;
    font-size: 16px;
}

.menu_graph{
    display:none;
    /*z-index: 99;*/
    /*position: absolute;*/
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-menu:hover{
    cursor: pointer;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.menu-label:hover{
    background: rgba(59, 59, 59, 0.2);
}

